<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <div><%= image_tag @user.get_profile_image(100,100) %></div>
      <table class="table">
        <tr>
          <th>name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= @user.introduction %></td>
        </tr>
      </table>
      <div class="row">

          <p>
            <%= link_to edit_user_path(@user), class:"btn btn-outline-secondary btn-block" do %>
               <i class="fas fa-user-cog"></i>
            <% end %>
          </p>

      </div>
      <h2>New book</h2>
      <%= form_with model: @book do |f| %>
        <div class="form-group">
          <label class="book_title">Title</label><br>
          <%= f.text_field :title %>
        </div>
        <div class="form-group">
          <label class="book_opinion">Opinion</label><br>
          <%= f.text_area :body %>
        </div>
        <div class="form-group">
          <%= f.submit 'Create Book', class:"btn btn-success" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class="table">
          <tr>
            <td>
              <%= image_tag @books.user.get_profile_image(100,100) %><br>
              <%= link_to @books.user.name, user_path(@books.user.id) %>
            </td>
            <td><%= link_to @books.title %></td>
            <td><%= @books.body %></td>
            <% if @books.user.id == current_user.id %>
            <td><%= link_to 'Edit', edit_book_path(@books.id), class:'btn btn-success btn-sm' %></td>
            <td><%= link_to 'Destroy', book_path, method: :delete, class:'btn btn-danger btn-sm' %></td>
            <% end %>
          </tr>
        </table>
    </div>
  </div>
</div>